/* screen - globals */

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@font-face {
  font-family: "MicrosoftYaHei UI-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Microsoft-YaHei-Bold-Font.ttf") format("truetype");
}
@font-face {
  font-family: "Tahoma-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Tahoma Bold.ttf") format("truetype");
}
@font-face {
  font-family: "MalgunGothic-Semilight";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Malgun gothic semilight.ttf") format("truetype");
}


.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

input:focus {
  outline: none;
}

* {
  box-sizing: border-box;
}

.top-rectangle {
  background-color: var(--blue-ribbon);
  border: 1px solid;
  border-color: var(--dove-gray);
  height: 100px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.icon-cart {
  height: 25px;
  left: 1717px;
  object-fit: cover;
  position: absolute;
  top: 43px;
  width: 30px;
}

.icon-home {
  cursor: pointer;
  height: 26px;
  left: 363px;
  object-fit: cover;
  position: absolute;
  top: 40px;
  width: 25px;
}

.place {
  cursor: pointer;
  left: 281px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 44px;
  white-space: nowrap;
}

.cart {
  left: 1661px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 44px;
  white-space: nowrap;
}

.holiday-deals {
  left: 294px;
  letter-spacing: 0;
  line-height: 17px;
  position: absolute;
  text-align: center;
  top: 116px;
  white-space: nowrap;
}

.gift-ideas {
  left: 712px;
  letter-spacing: 0;
  line-height: 17px;
  position: absolute;
  text-align: center;
  top: 116px;
  white-space: nowrap;
}

.deal-of-the-day {
  left: 562px;
  letter-spacing: 0;
  line-height: 17px;
  position: absolute;
  text-align: center;
  top: 116px;
  white-space: nowrap;
}

.polygon-1 {
  height: 6px;
  left: 402px;
  object-fit: cover;
  position: absolute;
  top: 124px;
  width: 11px;
}

.polygon-2 {
  height: 6px;
  left: 525px;
  object-fit: cover;
  position: absolute;
  top: 124px;
  width: 11px;
}

.blue-logol {
  height: 82px;
  left: 140px;
  object-fit: cover;
  position: absolute;
  top: 16px;
  width: 112px;
}

.fakebuy {
  cursor: pointer;
  left: 169px;
  letter-spacing: 0;
  line-height: 17px;
  position: absolute;
  text-align: center;
  top: 37px;
  transform: rotate(-19.00deg);
  white-space: nowrap;
}

.____________________::placeholder {
  color: #ffffff99;
}

.bottom-rectangle {
  background-color: var(--blue-ribbon);
  border: 1px solid;
  border-color: var(--dove-gray);
  height: 200px;
  width: 1920px;
}

.flex-row {
  align-items: flex-end;
  background-image: url(../img/mask-group-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  gap: 18px;
  height: 932px;
  justify-content: flex-end;
  min-width: 1920px;
  padding: 92.5px 395px;
}

.flex-row-1 {
  align-items: flex-start;
  display: flex;
  gap: 12px;
  margin-bottom: 1.0px;
  min-width: 917px;
}

.flex-row-2 {
  align-items: flex-start;
  display: flex;
  gap: 17px;
  min-width: 736px;
}

.flex-row-3 {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  min-width: 544px;
}

.flex-row-4 {
  align-items: flex-start;
  display: flex;
  gap: 19px;
  height: 644px;
  min-width: 360px;
}

.flex-col-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 644px;
  width: 167px;
}

.image-1-1 {
  height: 81px;
  object-fit: cover;
  width: 119px;
}

.laptops-computers {
  letter-spacing: 0;
  line-height: 17px;
  margin-right: 3.0px;
  margin-top: 16px;
  min-height: 19px;
  min-width: 154px;
  text-align: center;
  white-space: nowrap;
}

.image-7 {
  height: 110px;
  object-fit: cover;
  width: 97px;
}

.tablets {
  letter-spacing: 0;
  line-height: 17px;
  margin-left: 3.0px;
  margin-top: 13px;
  min-height: 19px;
  min-width: 54px;
  text-align: center;
  white-space: nowrap;
}

.image-17 {
  height: 99px;
  object-fit: cover;
  width: 99px;
}

.appliances {
  letter-spacing: 0;
  line-height: 17px;
  margin-right: 5.0px;
  margin-top: 14px;
  min-height: 20px;
  min-width: 84px;
  text-align: center;
  white-space: nowrap;
}

.flex-col {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 644px;
  width: 174px;
}

.image-2 {
  height: 118px;
  object-fit: cover;
  width: 97px;
}

.phones {
  letter-spacing: 0;
  line-height: 17px;
  margin-top: 16px;
  min-height: 19px;
  min-width: 54px;
  text-align: center;
  white-space: nowrap;
}

.image-8 {
  border-radius: 17px;
  height: 95px;
  object-fit: cover;
  width: 136px;
}

.cameras-camcorders-drones {
  letter-spacing: 0;
  line-height: 17px;
  margin-top: 4px;
  min-height: 36px;
  min-width: 174px;
  text-align: center;
  white-space: nowrap;
}

.image-11 {
  height: 110px;
  object-fit: cover;
  width: 93px;
}

.surname {
  letter-spacing: 0;
  line-height: 17px;
  margin-top: 14px;
  min-height: 20px;
  min-width: 130px;
  text-align: center;
  white-space: nowrap;
}

.image-19 {
  height: 107px;
  object-fit: cover;
  width: 107px;
}

.apple {
  letter-spacing: 0;
  line-height: 17px;
  margin-right: 10.0px;
  margin-top: 13px;
  min-height: 19px;
  min-width: 42px;
  text-align: center;
  white-space: nowrap;
}

.image-9 {
  height: 71px;
  object-fit: cover;
  width: 126px;
}

.smart-home-security-wi-fi {
  letter-spacing: 0;
  line-height: 17px;
  margin-left: 1.0px;
  margin-top: 4px;
  min-height: 36px;
  min-width: 171px;
  text-align: center;
  white-space: nowrap;
}

.image-14 {
  height: 82px;
  object-fit: cover;
  width: 135px;
}

.electric-transportation {
  letter-spacing: 0;
  line-height: 17px;
  margin-top: 14px;
  min-height: 20px;
  min-width: 174px;
  text-align: center;
  white-space: nowrap;
}

.flex-col-2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 644px;
  width: 175px;
}

.image-4 {
  height: 118px;
  object-fit: cover;
  width: 99px;
}

.smart-watches {
  letter-spacing: 0;
  line-height: 17px;
  margin-right: 13.0px;
  margin-top: 16px;
  min-height: 19px;
  min-width: 110px;
  text-align: center;
  white-space: nowrap;
}

.image-10 {
  height: 59px;
  object-fit: cover;
  width: 136px;
}

.sound-bars-speakers {
  letter-spacing: 0;
  line-height: 17px;
  margin-left: 1.0px;
  margin-top: 4px;
  min-height: 36px;
  min-width: 174px;
  text-align: center;
  white-space: nowrap;
}

.image-21 {
  height: 117px;
  object-fit: cover;
  width: 85px;
}

.kid-toys {
  letter-spacing: 0;
  line-height: 17px;
  margin-right: 17.0px;
  margin-top: 14px;
  min-height: 20px;
  min-width: 66px;
  text-align: center;
  white-space: nowrap;
}

.flex-col-3 {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 640px;
  width: 169px;
}

.image-5 {
  height: 113px;
  object-fit: cover;
  width: 102px;
}

.headphones {
  letter-spacing: 0;
  line-height: 17px;
  margin-left: 3.0px;
  margin-top: 16px;
  min-height: 19px;
  min-width: 90px;
  text-align: center;
  white-space: nowrap;
}

.overlap-group11 {
  align-items: flex-start;
  background-color: var(--white);
  border: 5px solid;
  border-color: var(--black);
  border-radius: 83.5px/82px;
  display: flex;
  height: 164px;
  margin-right: 2.0px;
  margin-top: 24px;
  min-width: 167px;
  padding: 39px 8px;
}

.image-16 {
  border-radius: 10px;
  height: 72px;
  object-fit: cover;
  width: 142px;
}

.video-games-consoles-vr {
  letter-spacing: 0;
  line-height: 17px;
  margin-left: 1.0px;
  margin-top: 4px;
  min-height: 36px;
  min-width: 168px;
  text-align: center;
  white-space: nowrap;
}

.image-1 {
  height: 102px;
  object-fit: cover;
  width: 102px;
}

.printers {
  letter-spacing: 0;
  line-height: 17px;
  margin-right: 1.0px;
  margin-top: 10px;
  min-height: 20px;
  min-width: 62px;
  text-align: center;
  white-space: nowrap;
}

.flex-col-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 644px;
  width: 181px;
}

.image-6 {
  height: 81px;
  object-fit: cover;
  width: 131px;
}

.t-vs-projectors {
  align-self: center;
  letter-spacing: 0;
  line-height: 17px;
  margin-right: 9.0px;
  margin-top: 7px;
  min-height: 19px;
  min-width: 118px;
  text-align: center;
  white-space: nowrap;
}

.image-3 {
  height: 122px;
  object-fit: cover;
  width: 95px;
}

.pc-gaming {
  align-self: center;
  letter-spacing: 0;
  line-height: 17px;
  margin-right: 23.0px;
  margin-top: 4px;
  min-height: 19px;
  min-width: 78px;
  text-align: center;
  white-space: nowrap;
}

.fitness-personal-care {
  letter-spacing: 0;
  line-height: 17px;
  margin-left: 1px;
  margin-top: 14px;
  min-height: 20px;
  min-width: 180px;
  text-align: center;
  white-space: nowrap;
}