:root { 
  --black: #000000;
  --blue-ribbon: #0044ff;
  --blue-ribbon-2: #0044ffeb;
  --concrete: #f3f3f3;
  --dove-gray: #707070;
  --supernova: #ffcc00;
  --white: #ffffff;
 
  --font-size-l: 15px;
  --font-size-m: 14px;
  --font-size-xl: 23px;
  --font-size-xxl: 25px;
 
  --font-family-malgungothic-semilight: "MalgunGothic-Semilight", Helvetica;
  --font-family-microsoftyahei_ui-bold: "MicrosoftYaHei UI-Bold", Helvetica;
  --font-family-tahoma-bold: "Tahoma-Bold", Helvetica;
}
.tahoma-bold-supernova-14px {
  color: var(--supernova);
  font-family: var(--font-family-tahoma-bold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.tahoma-bold-supernova-15px {
  color: var(--supernova);
  font-family: var(--font-family-tahoma-bold);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.tahoma-bold-white-15px {
  color: var(--white);
  font-family: var(--font-family-tahoma-bold);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.microsoftyaheiui-bold-white-25px {
  color: var(--white);
  font-family: var(--font-family-microsoftyahei_ui-bold);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.tahoma-bold-concrete-15px {
  color: var(--concrete);
  font-family: var(--font-family-tahoma-bold);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.tahoma-bold-supernova-23px {
  color: var(--supernova);
  font-family: var(--font-family-tahoma-bold);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}

.malgungothic-semi-light-white-25px {
  color: var(--white);
  font-family: var(--font-family-malgungothic-semilight);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 300;
}
